

#rgraph-format-form {
  margin:30px;
}

#rgraph-format-form div div.rgraph-thumbnail {
	width: 150px;
	float: left;
	margin-bottom: 20px;
}

#format-group-wrapper fieldset{
	border: none;
	padding: 0;
}

#format-group-wrapper fieldset legend {
	display: none;
}



