

body.page-rgraph-browser {
  background-color: #fff;
}

div#rgraph-browser-tabs {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}

body.page-rgraph-browser {
  background-color: #fff;
}


/* show the throbber on the page */
div#rgraph-browser .throbber {
	height:100%;
	width:100%;
	position:absolute;
  background: transparent url('images/loading.gif') no-repeat center center;
}

#rgraph-browser .ui-tabs-panel {
	/**
	 */
	height: 410px;
	overflow-y: auto;
}