/**
 * Display switch
 */
.item-list .rgraph-display-switch {
  float: right;
  line-height: 0;
}
.item-list .rgraph-display-switch li {
  float: left;
  list-style: none;
  margin-left: -1px;
} 
.item-list .rgraph-display-switch li a {
  background: #f2f1f1;
  border: 1px solid;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d3d3d3;
  display: block;
  padding: 7px 9px;
}
.item-list .rgraph-display-switch li.first a {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
.item-list .rgraph-display-switch li.last a {
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.item-list .rgraph-display-switch li a.active {
  position: relative;
  background: #666;
  border: 1px solid #555;
  color: #fff;
}

/* Hide the checkboxes on the browser display */
.pane_content  .rgraph-thumbnail .form-item.form-type-checkbox .form-checkbox {
  display: none;
}

/* Set the height to auto */
#rgraph_content_browser .rgraph-thumbnail {
  height: auto;
  width: 120px;
}


/* Push content under the tabs */
#rgraph_content_browser_tabs {
  margin-bottom: 30px;
}

/* This is some stuff to just get some basic mockup done on the 
   content navigator. Should be removed/revised soon */
 
.result_limit {
  float: right;
}  
.result_limit li {
   display: inline;
   list-style: none;
}

.item-list .rgraph_content_navigator li {
  display: inline;
  list-style: none;
}

/** This is a massive hack. There must be a better way. See rgraph.fields.inc **/

.rgraph-widget .fid {
  display:none;
}

.rgraph-widget .empty-preview {
  width:110px;
  height:110px;
  text-align: center;
  border: 3px solid #DDD;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.rgraph-widget .empty-preview a {
  margin-top:40px;
  display:block;
}


.rgraph-display-thumbnails .rgraph-thumbnail {
  width: 150px;
  float: left;
  margin-bottom: 20px;
}

/* Cut off long filenames to prevent a messed up layout. */
div.rgraph-thumbnail .rgraph-filename  {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 8px;
  margin-left: 15px;
  margin-right: 15px;
}

div.rgraph-thumbnail {
  text-align: center;
  padding: 0px auto 0px auto;
  width: 110px;
}

div.rgraph-thumbnail img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: block;
  border: 1px solid #ddd;
  padding: 6px;
  background: #f0f0f0;
  width: 100px;
  height: 100px;
}

/* For thumbnails that have been choosen by a user */
div.rgraph-thumbnail img.selected {
  background: #cccccc;
}

.rgraph-modal-frame {
  overflow: hidden;
}